<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# <link rel="shortcut icon" href="favicon.ico" /> #}
        <link rel="icon" type="image/x-icon" href="{{asset('raspberry.ico')}}" />
        {# <link rel="icon" type="image/png" href="favicon.png" /> #}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet"/>
            <link href="{{asset('css/style.css')}}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/annonces">Annonces</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/annonces/new">Nouvelle annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inscription">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    </div>
                </nav>
        {% endblock %}

        <div class="jumbotron">
            {% block body %}
            {% endblock %}
        </div>
        
        {% block footer %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="footer">
                <div class="collapse navbar-collapse" id="navbarColor02" style=>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Mentions légales</a>
                    </li>
                </ul>
                </div>
            </nav>
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
